# Please, don't use it in your local enviroment
# I was made to run in CI, since other alternatives seems to be broken

# Use `poetry install` and then `pipx install nuitka==1.5.6`
# It's not the best way to do things,
# but for now it'll be considered as a solution

nuitka == 1.5.6
pyserial == 3.5
pyside6 == 6.5.0
